{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>DashBoard</h1>
            <span class="subheading">Manage your post</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- <h1>Welcome kuldeep</h1> -->
      </div>

      <h2>Basic Action</h2>

      <a href="/edit/0"><button class="btn btn-primary">Add a new post </button></a>
      <a href="/logout"><button class="btn btn-primary">Logout </button></a>
      <hr>
      <h2>Upload a file</h2>
      <form action="/uploader" method="post" enctype="multipart/form-data">
        <input type="file" name="file1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      

<hr>
      <h2>Edit Posts</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.created}}</td>
            <td> <a href="/edit/{{post.id}}">Edit </a></td>
            <td> <a href="/delete/{{post.id}}">Delete </a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  {% endblock %}
  